<div class="container">
  <div style="text-align: center;"><button><%= link_to "Back to cocktails", root_path, class: "button" %></button></div>
  <h2 class="text-center"><%= @cocktail.name %></h2>
  <%= simple_form_for [ @cocktail , @dose ] do |f| %>
  <%= f.association :ingredient %>
  <%= f.input :description %>
  <%= f.submit "Add dose", class: "button", style: "text-align: center;" %>
  <% end %>
</div>
